@*
    
*@
@{
    ViewData["Title"] = "Category";
}
<div>

    <h1 class="display-4 text-center">@ViewData["Title"]</h1>

    <br />
    <a class="btn btn-primary" asp-area="" asp-controller="Category" asp-action="Create">Create</a>
    <br />
    <br />

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Order</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Category obj in Model)
            {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                     <td>
                        @obj.DisplayOrder
                    </td>
                     <td>
                        @obj.CreatedDateTime
                    </td>
                     <td>
                        @obj.UpdatedDateTime
                    </td>
                    <td>
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id">
                            Edit
                        </a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
