@page
@using ecommerce_razor.Models
@model ecommerce_razor.Pages.Categories.IndexModel
@{
}

<h1>Category</h1>
<a class="btn btn-primary my-2" asp-page="create">Create</a>

<table class="table table-bordered table-striped">
<thead>
    <tr>
        <th>Name</th>
        <th>Order</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    @foreach(Category obj in Model.Categories)
    {
        <tr>
            <td>
                @obj.Name
            </td>
                <td>
                @obj.DisplayOrder
            </td>
                <td>
                @obj.CreatedAt
            </td>
                <td>
                @obj.UpdatedAt
            </td>
            <td>
                <a asp-page="Edit" asp-route-id="@obj.Id" class="btn btn-default">
                    Edit
                </a>
                <a asp-page="Delete" asp-route-id="@obj.Id" class="btn btn-default">
                    Delete
                </a>
            </td>
        </tr>
    }
</tbody>
</table>